body {
    background: rgb(206, 82, 255) ;
    font: noramal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10pt;
    padding: 15px;
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.836);
}

footer {
    text-align: center;
    font-style: italic;

}

div#inicio {
    padding-bottom: 10px;
}

div#fim {
    padding-bottom: 10px;
}

div#ct {
    padding-bottom: 10px;
}

div#msg {
    padding-bottom: 10px;
}
