body {
    background: rgb(150, 248, 255);
}

header {
    text-align: center;
}

div#ano {
   padding-left: 10px;
}

section{
    background: white;
    border-radius: 10pt;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.836);
}

div#sexo{
   padding-left: 10px;
}

div#msg {
    padding-left: 10px;
}

footer {
    text-align: center;
    font-style: italic;
}
div#txt {
    padding-left: 10px;
}

#imagem {
    text-align: center;
    border-radius: 50%;
}